<%- include('partials/header.ejs') %>

    <div class="container mt-5">

  <!-- Header -->
  <div class="header-bar">
    <h3>All Contacts</h3>
    <a class="btn btn-add" href="/add-contact">
      <i class="fa fa-plus"></i> Add New
    </a>
  </div>

  <!-- Table -->
  <div class="table-container">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% var srno =1 %>
        <% contacts.forEach(contact => { %>
            <tr>
          <td><%= srno++ %></td>
          <td><%= contact.firstName %></td>
          <td><%= contact.lastName %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td>
            <span class="action-btn view"><a href="/show-contact/<%= contact._id %>"><i class="fa fa-eye"></i></a></span>
            <span class="action-btn edit"><a href="/update-contact/<%= contact._id %>"><i class="fa fa-pen"></i></a></span>
            <span class="action-btn delete"><a href="/delete-contact/<%= contact._id %>"><i class="fa fa-times"></i></a></span>
          </td>
        </tr>
       <%  }); %>

        

    

      </tbody>
    </table>
  </div>

</div>
    
<%- include('partials/footer.ejs') %>